body{
    background:  center url(./img/road-1072823_960_720.jpg);

}
.container {
    margin: 10%  auto;
    width:60%;
    display:flex;
    justify-content:space-between;
    flex-wrap: wrap;
    background-color:   rgb(0,0,0,0.2);
}

.info {
    color: wheat;
}

.input {
    color: wheat;
}

.output {
    color: whitesmoke;
}

.btn{
    background: rgba(0,0,0,0.1);
    border: solid wheat 1px;
    color:wheat;
}

.form{
    display: flex;
    justify-content: space-between;
}